{% extends "base.html" %}

{% block content %}
<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="medium-1 large-1 small-12 cell"></div>
        <div class="medium-10 large-10 small-12 cell">
      <h1>{{ title }}</h1>
      
      <table id="posTable" class="display nowrap compact" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>ZIP / Post code</th>
                    <th>Country</th>
                </tr>
            </thead>
        </table>

      <div class="medium-1 large-1 small-12 cell"></div>
      </div>
  </div>
</div>
{% endblock %}

{% block javascript %}


 
    <script src="https://cdn.datatables.net/fixedcolumns/3.2.6/js/dataTables.fixedColumns.min.js"></script>
    <script src="https://cdn.datatables.net/scroller/1.5.1/js/dataTables.scroller.min.js"></script>
    <script>
       $(document).ready( function () {

            var data = {{ tableData|safe }};
            var table = $('#posTable').DataTable( {
                //ajax:           "./templates/2500.txt",
                data:           data,
                deferRender:    true,
                scrollY:        200,
                //scrollX:        true,
                scrollCollapse: true,
                scroller:       true
            } );
        
            new $.fn.dataTable.FixedColumns( table );            




            $('#date').fdatepicker();
            console.log("Hello test");
            } );
    </script>
{% endblock %}  